<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1 class="clearfix">
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <div>
        <span>biography: </span><span><%= @user.biography %></span>
      </div>
      <div>
        <span>location: </span><span><%= @user.location %></span>
      </div>
      <ul>
        <li>
            <%= link_to "フォロー", :controller => "users", :action => "followings" %>
            (<%= @user.following_count %>)
        </li>
        <li>
            <%= link_to "フォロワー", :controller => "users", :action => "followers" %>
            (<%= @user.follower_count %>)
        </li>
      </ul>
    </section>
  </aside>
  
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    <% end %>
  </div>
</div>


